PORT=3000
DB_CONNECTION=mongodb://localhost:27017
DB_NAME=news_aggregator_api_dev
JWT_SECRET=your_jwt_secret_here
ER_API_KEY=55a3a4e5-485a-44fe-812d-1f17e4043370 #demo key
# Demo only API key provided for assignment evaluation
# Rate-limited and non-production